# An .env file - like this must exist in the project root next to the docker-compose.yml file
VERSION=0.0.2
LETSENCRYPT_CHALLENGES_DIR=/Users/sukkerfrit/private/site-fleet-cms/site-fleet-cms-server/development/letsencrypt_challenges
LETSENCRYPT_DIR=/Users/sukkerfrit/private/site-fleet-cms/site-fleet-cms-server/development/letsencrypt
NGINX_DIR=/Users/sukkerfrit/private/site-fleet-cms/site-fleet-cms-server/nginx
NGINX_LOGGING_DRIVER=json-file
COMPOSE_PROJECT_NAME=site-fleet-cms-production
SQ_EGRESS_FOLDER=/Users/sukkerfrit/private/site-fleet-cms-server/backup/squidex
BACKUP_DIR=/Users/sukkerfrit/private/site-fleet-cms/site-fleet-cms-server/backup
